@model IEnumerable<WebBanQuanAo.Models.DanhMuc>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Menu</title>
</head>
<body>
    @foreach (var item in Model)
    {
        <a class="dropdown-item" href="/Sanphams/List?TenDM=@item.TenDM"> @Html.DisplayFor(modelItem => item.TenDM)</a>
    }
</body>
</html>