@model IEnumerable<WebBanQuanAo.Models.SanPham>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<center><h2>Danh sách sản phẩm</h2></center>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3" style="margin-top:10px;">
            <div class="card">
                <img class="card-img-top" src="~/Images/@item.HinhSP" style="width:100%" />
                <h3 style="text-align:center" class="card-title">@item.TenSP</h3>
                <h4 style="text-align:center; color:orange" class="card-text">@item.GiaSP</h4>
            </div>
            <center>

                <a class="btn btn-info" href="/Sanphams/Details?id=@item.MaSP">Xem chi tiết</a>
                <a class="btn btn-success" href="/ShoppingCart/Order?id=@item.MaSP">Thêm giỏ hàng</a>
            </center>
        </div>
    }
</div>
<center>
    @for (int i = 0; i <= ViewBag.count; i++)
    {
        <a class="btn btn-danger" href="@Url.Action("List","sanphams",new { page=i })">@i</a>
    }
</center>