@model WebBanQuanAo.Models.DonHang

@{
    ViewBag.Title = "HoaDon";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<center>
    <form method="post" action="/DonHangs/HoaDon">
        <h2>Thông tin hóa đơn</h2>
        <label>Tên Người Nhận</label>
        <input class="form-control" id="TenNguoiNhan" name="TenNguoiNhan" placeholder="Nhập Tên Người Nhận" required />
        <label>Số Điện Thoại</label>
        <input class="form-control" id="SoDT" name="SoDT" placeholder="Nhập Số điện thoại" required />
        <label>Địa chỉ</label>
        <input class="form-control" id="DiaChi" name="DiaChi" placeholder="Nhập địa chỉ" required />
        <br />
        <button type="submit" class="btn btn-success">Thanh Toán</button>
    </form>
</center>